# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
*/__init__.py

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

# Directories was not update by Alifer
congresso-em-numeros/.ipynb_checkpoints
congresso-em-numeros/airflow/*
congresso-em-numeros/camdep/*
congresso-em-numeros/migrate-amazon/*
congresso-em-numeros/packages/*
congresso-em-numeros/senado/*
congresso-em-numeros/*.ipynb
congresso-em-numeros/cap_congresso/*.ipynb
congresso-em-numeros/cap_congresso/.ipynb_checkpoints/*
congresso-em-numeros/cap_congresso/*/.ipynb_checkpoints/*


#Secret files
congresso-em-numeros/config_analysis.yaml
congresso-em-numeros/config_server.yaml

